* {
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth; 
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

/* <!--Navigation--> */
#NavLogo {
    width: 100px;
    height: 100px;
    display: flex;
}
#topoftheworld {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #64CBCD;
}
#navbarNav {
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 5%;
}
.nav-item {
    margin-top: 1.5rem;
    padding:15px;
    border:2px solid #4FA3A5;
    background-color: #4FA3A5;
    width:60px;
    height:45px;
    position:relative;
    border-radius:4px;
}
.navbar #navbarNav .nav-link {
    color: #000000;
    font-size: 1.1em;
}
.navbar #navbarNav .nav-link:hover{
    color: white;
}
.fa-ellipsis-v {
    color: black;
}

/* <!--Footer--> */


/* <!--Homepage--> */


/* <!--About Us Page--> */


/* <!--Join Us Page--> */


/* <!--Donate Page--> */
.container-fluid{
    padding-left: 50px;
    padding-right: 50px;
}

.padding {
 padding: 2rem;
}

body {
    background: url("../images/riverrocks.png");
    max-width: 100%;
    height: auto;
}

#a {
    background-image: url("../images/jumbotron.png");
    height: auto;
    max-width: 100%;
}

#b {
    height: 252px;
    width: 447px;
    background-color: #64CBCD;
    border-radius: 4px;
}

#c {
    font-size: 64px;
    font-weight: normal;
    font-family: 'Playfair Display',serif;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 15px;
    color: #fff;
}

#d {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    color: #fff;
}

#money {
    text-align: center;
    font-size: 64px;
    font-weight: normal;
    font-family: 'Playfair Display',serif;
}

#red {
    margin-bottom: 35px;
    margin-top: 35px;
}

#blue {
    margin-bottom: 35px;
}

#yellow {
    margin-bottom: 35px;
}

#orange {
    height: auto;
    max-width: 100%;
}

#green {
    height: auto;
    max-width: 100%;
}

#purple {
    height: auto;
    max-width: 100%;
}

#horse {
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

#pig {
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

#cow {
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

#questions {
    color: #000000;
    font-family: 'Playfair Display',serif;
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

#accordionExample {
    margin-top: 35px;
    margin-bottom: 35px;
}

.card-body {
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    font-weight: normal;
    text-align: left;
}

.btn,
.btn-link,
.btn-link:hover,
.btn-block,
.text-left,
.collapsed {
    font-family: 'Barlow', sans-serif;
    font-size: 36px;
    font-weight: normal;
    text-align: left;
    color: #64CBCD;
}

#headingOne {
    background-color: #fff;
    border: 1px solid #64CBCD;
    border-radius: 4px;
}

#headingTwo {
    background-color: #fff;
    border: 1px solid #64CBCD;
    border-radius: 4px;
}

#headingThree {
    background-color: #fff;
    border: 1px solid #64CBCD;
    border-radius: 4px;
}

#cba {
    color: #000000;
    font-family: 'Playfair Display',serif;
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

#tub {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 24px;
    text-align: center;
}

#oo {
    border: 1px solid #4FA3A5;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    height: auto;
    width: 5%;
    background-color: #fff;
    color: #000000;
    margin-bottom: 15px;
    margin-top: 15px;
}

#pp {
    border: 1px solid #4FA3A5;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    height: auto;
    width: 5%;
    background-color: #fff;
    color: #000000;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 35px;
    margin-right: 35px;
}

#rr {
    border: 1px solid #4FA3A5;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    height: auto;
    width: 5%;
    background-color: #fff;
    color: #000000;
    margin-bottom: 15px;
    margin-top: 15px;
}

#ss {
    border: 1px solid #4FA3A5;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    height: auto;
    width: 5%;
    background-color: #fff;
    color: #000000;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 35px;
    margin-right: 35px;
}

#ww {
    border: 1px solid #4FA3A5;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    height: auto;
    width: 45%;
    background-color: #fff;
    color: #000000;
    margin-bottom: 15px;
}

#zz {
    border: 1px solid #4FA3A5;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    height: auto;
    width: 45%;
    background-color: #fff;
    color: #000000;
    margin-bottom: 15px;
}

#ccc {
    border: 1px solid #4FA3A5;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    height: auto;
    width: 35%;
    background-color: #fff;
    color: #000000;
    margin-bottom: 15px;
    margin-right: 35px;
}

#ggg {
    border: 1px solid #4FA3A5;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    height: auto;
    width: 35%;
    background-color: #fff;
    color: #000000;
}

#gg {
    border: 1px solid #4FA3A5;
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    height: 35px;
    width: 85px;
}

#jj {
    border: 1px solid #4FA3A5;
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    height: 35px;
    width: 85px;
}

#mm {
    border: 1px solid #4FA3A5;
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    height: 35px;
    width: 85px;
}

#iii {
    color: #fff;
    font-size: 18px;
    font-weight: medium;
    font-family: 'Barlow', sans-serif;
    background-color: #4FA3A5;
    border: 1px solid #4FA3A5;
    border-radius: 4px;
    height: auto;
    width: 20%;
    text-align: center;
}

#jjj {
    height: auto;
    max-width: 100%;
    padding-top: 0px;
    margin-bottom: 35px;
    margin-top: 35px;
}

#mmm {
    height: auto;
    max-width: 100%;
    padding-top: 0px;
}

#nnn {
    padding-top: 0px;
    height: auto;
    max-width: 100%;
}

#xyz {
    height: 400px;
    width: 400px;
    border-radius: 4px;
    margin: 0px;
}

#qqq {
    color: #fff;
    font-size: 18px;
    font-weight: medium;
    font-family: 'Barlow', sans-serif;
    background-color: #4FA3A5;
    border: 1px solid #4FA3A5;
    border-radius: 4px;
    height: 40px;
}

#ooo {
    color: #000000;
    font-family: 'Playfair Display',serif;
    font-size: 48px;
    font-weight: normal;
    text-align: left;
}

#iiii {
    background-color: #2E6263;
    height: auto;
    max-width: 100%;
}

#abcd {
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 5%;
    line-height: auto;
    text-align: center;
    align-items: middle;
}

#sss {
    padding-bottom: 15px;
    padding-top: 15px;
}

#uuu {
    display: block;
    height: auto;
    max-width: 50%;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    background-color: #2E6263;
    background-clip: padding-box;
    border: 1px solid #fff;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
} 

#vvv {
    padding-bottom: 15px;
    padding-top: 15px;
}

#xxx {
    display: block;
    height: auto;
    max-width: 75%;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    background-color: #2E6263;
    background-clip: padding-box;
    border: 1px solid #fff;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
} 

#yyy {
    padding-bottom: 15px;
    padding-top: 15px;
}

#aaaa {
    display: block;
    height: auto;
    max-width: 75%;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    background-color: #2E6263;
    background-clip: padding-box;
    border: 1px solid #fff;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
} 

#bbbb {
    padding-bottom: 15px;
    padding-top: 15px;
}

#dddd {
    display: block;
    height: auto;
    max-width: 75%;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    background-color: #2E6263;
    background-clip: padding-box;
    border: 1px solid #fff;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
}

#eeee {
    padding-bottom: 15px;
    padding-top: 15px;
}

#ffff {
    color: #fff;
    font-size: 18px;
    font-weight: medium;
    font-family: 'Barlow', sans-serif;
    background-color: #4FA3A5;
    border: 1px solid #4FA3A5;
    border-radius: 4px;
    text-align: center;
    height: auto;
    width: 200px;
}