* {
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth; 
}
#topoftheworld {
    font-size: 1.25rem;
    font-family: 'Barlow', sans-serif;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #64CBCD;
    color: white;
    font-weight: 700;
    letter-spacing: .5rem;
}
#NavLogo {
    height: 100px;
    width: 100px;
    background-color: #64CBCD;
    margin-top: 15px !important;
    margin-left: 10px;
}
#mobileNavLogo {
    display: none;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}
.navbar-nav {
    margin-top: 10px;
}
.navbar {
    display: flex;
    flex-wrap: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar > .container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}
.NAVBUTTON {
    background-color: #4FA3A5;
    width: 6rem;
    color: white !important;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 25px;
    padding: 16px;
    margin-left: 25px;
    margin-right: 25px;
}
button {
    cursor: pointer;
}
#mobileFirstLink {
    display: none; 
}
#mobileSearch {
    display: none;
}
#searchIcon {
    color: black;
    margin-top: 30px;
}
#socialMedia1 {
    width: 30px;
    height: 30px;
    color: black !important;
    font-size: 1.5em;
    margin: 5px;
    padding-top: 5px;
}
#socialMedia2 {
    width: 30px;
    height: 30px;
    color: black !important;
    font-size: 1.5em;
    margin: 5px;
    padding-top: 5px;
}
#socialMedia3 {
    width: 30px;
    height: 30px;
    color: black !important;
    font-size: 1.5em;
    margin: 5px;
    padding-top: 5px;
}
.btn-floating {
    border-radius: 50%;
    padding: 0;
    position: relative;
    background-color: white;
    border: white;
    position: absolute;
}
#mobileFacebook {
    display: none;
}
#mobileTwitter {
    display: none;
}
#Envelope {
    right: 180px;
    top: 10px;
}
#Facebook {
    right: 105px;
    top: 10px;
}
#Twitter {
    right: 30px;
    top: 10px;
}
/* <!--Footer--> */
.signupform {
    background-color: #4FA3A5;
    padding: 10px;
    border-radius: 4px;
    margin-right: 40px;
    margin-left: 20px; 
}
.SIGNUP {
    width: 70%;
}
#signUp {
    margin-right: 5px;
    padding-bottom: 5px;
}
#headerButton1 {
    background-color: #EDCB9A;
    color: black;
    border-color: #D7B483;
    border-width: 1px;
    font-family: 'barlow', sans-serif;
    font-size: 12px;
    font-size: 2vw;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
    margin: auto;
}
#headerButton1:hover {
    background: #2E6263;
    color: white;
    border-color: #2E6263;
}
#navIconFooter {
    display: block !important;
    height: 120px;
    width: 120px;
    margin-left: 35% !important;
    padding-bottom: 5px;
}
#EnvelopeFooter {
    background-color: #4FA3A5 !important;
    color: white !important;
    left: 60px;
    bottom: 60px;
    /* left: 150px;
    bottom: 25px; */
}
#FacebookFooter {
    background-color: #4FA3A5 !important;
    color: white !important;
    left: 125px;
    bottom: 60px;
    /* left: 230px;
    bottom: 25px; */
}
#TwitterFooter {
    background-color: #4FA3A5 !important;
    color: white !important;
    left: 190px;
    bottom: 60px;
    /* left: 310px;
    bottom: 25px; */
}
#socialsFooter {
    width: 30px;
    height: 30px;
    color: white !important;
    font-size: 1.5em;
    margin: 5px;
    padding-top: 5px;
}
.copyright {
    text-align: center;
    margin-bottom: 10px;
}
.submitButton {
    background-color: #EDCB9A;
    width: 28%;
    margin-left: 6px;
}
@media only screen and (max-width: 995px) {
    #EnvelopeFooter {
        left: 150px;
        bottom: 25px;
        background-color: #4FA3A5 !important;
        color: white !important;
    }
    #FacebookFooter {
        background-color: #4FA3A5 !important;
        color: white !important;
        left: 230px;
        bottom: 25px;
    }
    #TwitterFooter {
        background-color: #4FA3A5 !important;
        color: white !important;
        left: 310px;
        bottom: 25px;
    }
}
/* <!--Homepage--> */
/* Video Responsive Homepage */
@media (min-aspect-radio: 16/9) {
    #video-background {
        width: 80%;
        height: auto;
        padding-bottom: 80%;
    }
}
@media (max-aspect-radio: 16/9) {
    #video-background {
        width: auto;
        height: 80%;
        padding-bottom: 80%;
    }
}
/* <!-- Overlay Text on video --> */
#pageTitle {
    margin: 0;
    font-family: 'playfair-display', serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 48px !important;
    /* font-size: 4vw; */
    text-align: center;
    margin-bottom: .25vh;
}
#pageTitle1 {
    margin: 0;
    font-family: 'playfair-display', serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 48px !important;
    /* font-size: 4vw; */
    text-align: center;
    margin-bottom: .25vh;
}
.homepageContainer {
    width: 102vw;
    position: relative;
    margin-top: -4vh;
}
.aboutUsContainer {
    width: 100vw;
    position: relative;
    margin-top: -4vh;
}
#jumbotron1{
    margin-top: 0px;
    position: absolute;
    color: #f1f1f1;
    top: 50%;
    left: 50%;
    transform: translate(-52%, -52%);
    max-width: 300px;
    width: 50%;
    padding: 20px;
    height: auto;
    background-color: #64CBCD;
}
#headerButton {
    background-color: #EDCB9A;
    color: black;
    border-color: #D7B483;
    border-width: 2px;
    font-family: 'barlow', sans-serif;
    font-size: 18px !important;
    font-size: 1.5vw;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
    margin: auto;
}
#headerButton:hover {
    background: #2E6263;
    color: white;
    border-color: #2E6263;
}
#headerButton2 {
    background-color: #EDCB9A;
    color: black;
    border-color: #D7B483;
    border-width: 2px;
    font-family: 'barlow', sans-serif;
    font-size: 18px !important;
    font-size: 1.5vw;
    font-weight: 500;
    width: 100%;
    cursor: pointer;
    margin: auto;
}
#headerButton2:hover {
    background: #2E6263;
    color: white;
    border-color: #2E6263;
}
.backgroundVideoAbout {
    position: relative;
    z-index: -1;
    right: 0;
    left:0;
    bottom: 0;
    top:0;
    width: 100%;
    min-height: 100%;
    min-height: -80px;
}
#video-background {
    position: relative;
    z-index: -1;
    right: 0;
    left:0;
    bottom: 0;
    top:0;
    width: 100%;
    min-height: 100%;
    min-height: -80px;
    /* margin-right: -5vw; */
}
.lead {
    width: 100%;
    margin: auto;
}
.italicsTag {
    font-family: 'barlow', sans-serif;
    font-size: 16px;
    color: black;
    text-align: center;
    font-style: italic;
}
/* <!-- Content for Homepage --> */
.background {
    background-image: url(../images/dalmation2.png);
    object-fit: cover;
    flex-shrink: 0;
    min-width: 100%;
}
.cardtitlehome {
    font-family: 'playfair-display', serif;
    font-weight: normal;
    font-style: normal;
    color: black;
    font-size: 48px;
    text-align: center;
}
.cardtitlehome1 {
    font-family: 'playfair-display', serif;
    font-weight: normal;
    font-style: normal;
    color: white;
    font-size: 48px;
    text-align: center;
}
.card-body {
    font-family: 'barlow', sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
}
.cardbranding {
    background-color: #2E6263;
    padding: 5px;
    margin-top: 0px;
    border-radius: 4px;
}
.cardbranding1 {
    background-color: #64CBCD;
    padding: 5px;
    margin-top: 0px;
    border-radius: 4px;
    margin-bottom: 15px;
}
.cardbranding2 {
    background-color: #4FA3A5;
    padding: 5px;
    margin-top: 0px;
    border-radius: 4px;
}
.cardtitlebrand {
    font-family: 'playfair-display', serif;
    font-size: 36px;
    font-weight: normal;
    color: white;
    text-align: center;
}
.card-bodybrand {
    font-family: 'barlow', sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    color: white;
    padding-inline: 10px;
    padding-bottom: 8px;
}
.card-bodybrand1 {
    font-family: 'barlow', sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    color: black;
    padding-inline: 10px;
    padding-bottom: 8px;
}
.video-container {
    position: relative; 
    padding-bottom: 56.25%; 
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
}
.video-container iframe, .video-container object, .video-container embed {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}
.card-img-map {
    width: 70%;
    height: 70%;
}
.card-img-dedicate {
    width: 100%;
    height: 100%;
}
.carousel-item {
    width: 100%;
    justify-content: center;
}
.colorbackground {
    background-color: #64CBCD;
}
.coloredbackground {
    background-color: #2E6263;
}
/* <!--About Us Page--> */


/* <!--Join Us Page--> */


/* <!--Donate Page--> */
/* .container-fluid{
    padding-left: 50px;
    padding-right: 50px;
} */

.donationPadding {
 padding: 2rem;
}

/* body {
    background: url("../images/riverrocks.png");
    max-width: 100%;
    height: auto;
} */

#a {
    background-image: url("../images/jumbotron.png");
    height: auto;
    max-width: 100%;
}

#b {
    height: 252px;
    width: 447px;
    background-color: #64CBCD;
    border-radius: 4px;
}

#c {
    font-size: 64px;
    font-weight: normal;
    font-family: 'Playfair Display',serif;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 15px;
    color: #fff;
}

#d {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    color: #fff;
}

#money {
    text-align: center;
    font-size: 64px;
    font-weight: normal;
    font-family: 'Playfair Display',serif;
}

#red {
    margin-bottom: 35px;
    margin-top: 35px;
}

#blue {
    margin-bottom: 35px;
}

#yellow {
    margin-bottom: 35px;
}

#orange {
    height: auto;
    max-width: 100%;
}

#green {
    height: auto;
    max-width: 100%;
}

#purple {
    height: auto;
    max-width: 100%;
}

#horse {
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

#pig {
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

#cow {
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

#questions {
    color: #000000;
    font-family: 'Playfair Display',serif;
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

#accordionExample {
    margin-top: 35px;
    margin-bottom: 35px;
}

/* .card-body {
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    font-weight: normal;
    text-align: left;
} */
/* 
.btn,
.btn-link,
.btn-link:hover,
.btn-block,
.text-left,
.collapsed {
    font-family: 'Barlow', sans-serif;
    font-size: 36px;
    font-weight: normal;
    text-align: left;
    color: #64CBCD;
} */

#headingOne {
    background-color: #fff;
    border: 1px solid #64CBCD;
    border-radius: 4px;
}

#headingTwo {
    background-color: #fff;
    border: 1px solid #64CBCD;
    border-radius: 4px;
}

#headingThree {
    background-color: #fff;
    border: 1px solid #64CBCD;
    border-radius: 4px;
}

#cba {
    color: #000000;
    font-family: 'Playfair Display',serif;
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

#tub {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 24px;
    text-align: center;
}

#oo {
    border: 1px solid #4FA3A5;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    height: auto;
    width: 5%;
    background-color: #fff;
    color: #000000;
    margin-bottom: 15px;
    margin-top: 15px;
}

#pp {
    border: 1px solid #4FA3A5;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    height: auto;
    width: 5%;
    background-color: #fff;
    color: #000000;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 35px;
    margin-right: 35px;
}

#rr {
    border: 1px solid #4FA3A5;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    height: auto;
    width: 5%;
    background-color: #fff;
    color: #000000;
    margin-bottom: 15px;
    margin-top: 15px;
}

#ss {
    border: 1px solid #4FA3A5;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    height: auto;
    width: 5%;
    background-color: #fff;
    color: #000000;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 35px;
    margin-right: 35px;
}

#ww {
    border: 1px solid #4FA3A5;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    height: auto;
    width: 45%;
    background-color: #fff;
    color: #000000;
    margin-bottom: 15px;
}

#zz {
    border: 1px solid #4FA3A5;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    height: auto;
    width: 45%;
    background-color: #fff;
    color: #000000;
    margin-bottom: 15px;
}

#ccc {
    border: 1px solid #4FA3A5;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    height: auto;
    width: 35%;
    background-color: #fff;
    color: #000000;
    margin-bottom: 15px;
    margin-right: 35px;
}

#ggg {
    border: 1px solid #4FA3A5;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    height: auto;
    width: 35%;
    background-color: #fff;
    color: #000000;
}

#gg {
    border: 1px solid #4FA3A5;
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    height: 35px;
    width: 85px;
}

#jj {
    border: 1px solid #4FA3A5;
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    height: 35px;
    width: 85px;
}

#mm {
    border: 1px solid #4FA3A5;
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    height: 35px;
    width: 85px;
}

#iii {
    color: #fff;
    font-size: 18px;
    font-weight: medium;
    font-family: 'Barlow', sans-serif;
    background-color: #4FA3A5;
    border: 1px solid #4FA3A5;
    border-radius: 4px;
    height: auto;
    width: 20%;
    text-align: center;
}

#jjj {
    height: auto;
    max-width: 100%;
    padding-top: 0px;
    margin-bottom: 35px;
    margin-top: 35px;
}

#mmm {
    height: auto;
    max-width: 100%;
    padding-top: 0px;
}

#nnn {
    padding-top: 0px;
    height: auto;
    max-width: 100%;
}

#xyz {
    height: 400px;
    width: 400px;
    border-radius: 4px;
    margin: 0px;
}

#qqq {
    color: #fff;
    font-size: 18px;
    font-weight: medium;
    font-family: 'Barlow', sans-serif;
    background-color: #4FA3A5;
    border: 1px solid #4FA3A5;
    border-radius: 4px;
    height: 40px;
}

#ooo {
    color: #000000;
    font-family: 'Playfair Display',serif;
    font-size: 48px;
    font-weight: normal;
    text-align: left;
}

#iiii {
    background-color: #2E6263;
    height: auto;
    max-width: 100%;
}

#abcd {
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: normal;
    letter-spacing: 5%;
    line-height: auto;
    text-align: center;
    align-items: middle;
}

#sss {
    padding-bottom: 15px;
    padding-top: 15px;
}

#uuu {
    display: block;
    height: auto;
    max-width: 50%;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    background-color: #2E6263;
    background-clip: padding-box;
    border: 1px solid #fff;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
} 

#vvv {
    padding-bottom: 15px;
    padding-top: 15px;
}

#xxx {
    display: block;
    height: auto;
    max-width: 75%;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    background-color: #2E6263;
    background-clip: padding-box;
    border: 1px solid #fff;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
} 

#yyy {
    padding-bottom: 15px;
    padding-top: 15px;
}

#aaaa {
    display: block;
    height: auto;
    max-width: 75%;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    background-color: #2E6263;
    background-clip: padding-box;
    border: 1px solid #fff;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
} 

#bbbb {
    padding-bottom: 15px;
    padding-top: 15px;
}

#dddd {
    display: block;
    height: auto;
    max-width: 75%;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    background-color: #2E6263;
    background-clip: padding-box;
    border: 1px solid #fff;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
}

#eeee {
    padding-bottom: 15px;
    padding-top: 15px;
}

#ffff {
    color: #fff;
    font-size: 18px;
    font-weight: medium;
    font-family: 'Barlow', sans-serif;
    background-color: #4FA3A5;
    border: 1px solid #4FA3A5;
    border-radius: 4px;
    text-align: center;
    height: auto;
    width: 200px;
}